:root {
  --ff-primary: Heebo, sans-serif;
  --ff-secondary: Bungee, cursive;
  --ff-accent: Bungee Shade, cursive;

  --clr-black: #1f1f1f;
  --clr-white: #FFFFFF;
  --clr-gray: #b7bfcc;
  --clr-light-blue: #9dfbf5;
  --clr-dark-blue: #4562d9;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-secondary);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-image: linear-gradient(rgba(183, 191, 204, 0.95), rgba(31, 31, 31, 0.95)), url(./img/logo-final.jpeg);
  background-position: center;
  background-size: cover;
  font-family: var(--ff-primary);
  font-size: 1rem;
}

li,
a,
button {
  font-size: 1.15em;
  color: #edf0f1;
  text-decoration: none;
}

.header {
  position: relative;
  background: url(./img/header-img.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 9rem;
}

.row {
  position: absolute;
  left: 0;
  bottom: -11rem;
  width: 100%;
  background-color: var(--clr-black);
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo {
  order: 1;
}

.logo img {
  margin-left: 0.5rem;
  height: 4rem;
  width: 10rem;
}

.header-title {
  order: 2;
}

.header-content h1 {
  color: var(--clr-dark-blue);
}

.nav-search {
  order: 3;
  flex: 1 1 100%;
  margin-top: 1rem;
}

.form-group {
  width: 100%;
  position: relative;
}

.form-group input {
  height: 4rem;
  padding-left: 2rem;
  border-radius: 0.4rem;
  border: solid 0.1rem var(--clr-gray);
  background-color: var(--clr-gray);
  font-size: medium;
  font-weight: 500;
  text-align: left;
  color: var(--clr-white);
  width: 100%;
}

.form-group input:focus {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.form-group input::placeholder {
  font-weight: 500;
  color: var(--clr-white);
  font-size: medium;
}

.form-group i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: var(--clr-white);
}

.nav-group {
  order: 3;
}

.nav-group ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-group ul li a {
  font-size: large;
  color: var(--clr-white);
}

.nav-group ul li a:hover {
  color: var(--clr-light-blue);
}

.nav-group ul li a span {
  display: none;
}

@media (min-width: 768px) {
  .header {
    height: 9rem;
  }

.row {
    bottom: 0;
    background-color: var(--clr-black);
    opacity: 0.9;
  }

.header-content {
    align-items: center;
    padding: 0 0.5rem;
  }

.logo {
    width: 7rem;
  }

.logo img {
    height: 5rem;
    width: 5.5rem;
  }

.header-content h1 {
    margin-right: 5rem;
  }

 .nav-search {
    order: 3;
    flex: 1 1 auto;
    margin-top: 0;
    padding: 0 1rem;
  }

 .form-group {
    max-width: 48rem;
    margin: 0 auto;
  }

 .nav-group {
    width: 24rem;
    order: 4;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

.nav-group li{
    list-style: none;
  }

.nav-group ul li a span {
    display: inline-block;
    text-transform: capitalize;
    font-size: medium;
    font-weight: 500;
    color: var(--clr-white);
    margin-left: 0.5rem;
  }
}

/*wireframe*/ 

.main_page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.5em;
}

.container {
  display: grid;
  gap: 1.2rem;
  grid-template-areas: 
  'one'
  'two'
  'three'
  'four';
  width: 55%;
  height: 100vh;
}

.news {
  height: 100vh;
  width: 20%;
  margin: 2em 3em;
  background-color: var(--clr-black);
  border-radius: 10px;
  border: 8px solid var(--clr-black);
  text-align: center;
  align-items: center;
}

.news_block {
  background: url(./img/hat-7.jpg);
  width: 100%;
  height: 10em;
  margin-top: .5em;
  position: relative;
  text-align: left;
}

.first_news {
  margin-top: 0;
}

.news_title {
  color: var(--clr-gray);
  padding: .5em;
  font-size: 100%;
  text-shadow: 1px 1px 8px var(--clr-gray);
  margin: auto;
}

.news_text {
    color: var(--clr-dark-blue);
    padding: .5em;
    margin: auto;
    position: absolute;
    bottom: 0;
}

.more__news {
  margin-top: .5em;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 2rem;
  width: 95%;
  height: 35em;
  margin-inline: auto;
}

.featured_1 {
  grid-area: one;
  background-image: url(./img/hat-1.jpg);
  background-size: cover;
}
.featured_2 {
  grid-area: two;
  background-image: url(./img/hat-2.jpg);
  background-size: cover;
}
.featured_3 {
  grid-area: three;
  background-image: url(./img/hat-3.jpg);
  background-size: cover;
}
.featured_4 {
  grid-area: four;
  background-image: url(./img/hat-4.jpg);
  background-size: cover;
}

.game1 {
  background-image: url(./img/hat-1.jpg);
  background-size: cover;
}
.game2 {
  background-image: url(./img/hat-2.jpg);
  background-size: cover;
}
.game3 {
  background-image: url(./img/hat-3.jpg);
  background-size: cover;
}
.game4 {
  background-image: url(./img/hat-4.jpg);
  background-size: cover;
}
.game5 {
  background-image: url(./img/hat-5.jpg);
  background-size: cover;
}
.game6 {
  background-image: url(./img/hat-6.jpg);
  background-size: cover;
}
.game7 {
  background-image: url(./img/hat-7.jpg);
  background-size: cover;
}
.game8 {
  background-image: url(./img/hat-1.jpg);
  background-size: cover;
}

.card {
  border-radius: 10px;
  position: relative;
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.1);
}

.card__content {
  text-align: left;
  padding: .5em;
  background-color: var(--clr-black);
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  color: var(--clr-dark-blue);
  padding: .5em;
  font-size: 150%;
  text-shadow: 1px 1px 8px var(--clr-dark-blue);
  margin: auto;
}

.card__price {
  color:var(--clr-light-blue);
  font-size: large;
  font-weight: bold;
}

.card__description {
  color: var(--clr-dark-blue);
}

@media (min-width: 50em) {
  .container {
    grid-template-areas: 
    'one two two'
    'one three four';
  }
}

.more__gamesnav {
  background-color: rgb(45, 71, 76, 0.7);
  margin: 0.7em;
}

.more__games {
  margin-left: 2.5em;
}

.nav_games ul {
  list-style-type: none;
  padding: 0px;
  margin-left: 2.35em;
}

.nav_games a {
  text-decoration: none;
  padding: .5em;
  display: block;
  text-align: center;
}

.nav_games li {
  float: left;
}

.nav_games a:hover {
  background-color: rgb(45, 71, 76, 1);
}

.nav_games:hover ~ .container2 {
  background-color: rgb(45, 71, 76, 1);
}

/*footer*/

footer {
  background-color: var(--clr-black);
}

.footer-container {
  width: 100%;
  padding: 2em 2em 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: .6em;
  margin: .5em;
  background-color: var(--clr-dark-blue);
  border-radius: 50%;
  font-size: 1.2em;
  opacity: 0.9;
  transition: transform .2s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

footer ul li a{
  text-decoration: none;
  margin: 1.5em;
  opacity: 0.7;
}

footer ul li a:hover{
  opacity: 0.9;
}

.footer-bottom {
  text-align: center;
  padding: .3em;
  color: white;
}

@media (max-width: 600px) {
  .footer-nav ul {
    flex-direction: column;
  }
  .footer-nav ul li {
    width: 100%;
    text-align: center;
    margin: 0.2em;
  }
}